/* Base styles that apply to all screen sizes */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15.5px;
	line-height: 1.5;
	color: #1e1e1e;
  }
  
  h1, h2 {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	margin-top: 4px;
	margin-bottom: 4px;
	text-align: left;
	color: #8C1515; /* Stanford cardinal red */
  }
  
  h1 {
	font-size: 34px;
  }
  
  h2 {
	font-size: 26px;
  }
  
  div.text {
	margin-top: 0px;
	padding-top: 0px;
  }
  
  /* Large screens */
  @media screen and (min-width: 1001px) {
	div#center {
	  margin-left: max(1%, 50% - 460px);
	  margin-right: max(1%, 50% - 460px);
	  width: min(920px);
	}
	
	div#contact {
	  height: 289px;
	}
	
	img {
	  float: left;
	  margin-right: 30px;
	  margin-bottom: 20px;
	}
  }
  
  /* Small screens */
  @media screen and (max-width: 1000px) { 
	div#center {
	  margin-left: 20px;
	  margin-right: 20px;
	  margin-top: 50px;
	  clear: left;
	}
	
	div#contact {
	  margin-top: 30px;
	  text-align: left;
	}
	
	img {
	  margin-bottom: 20px;
	  max-width: 100%;
	  height: auto;
	}
  }